@import "tailwindcss";
aside div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
aside div h1{
    font-size: 20px;
    font-weight: 400;
}
aside div ul li input{
    margin-right: 10px;
}
aside div ul li {
    font-size: 16px;
}
aside div ul {
    margin-top: 5px;
}
input,label{cursor: pointer;}
/* border flex flex-col items-center */
input.simple-cursor{cursor: auto;}